<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app 
   xmlns="http://java.sun.com/xml/ns/javaee" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
   version="2.5">

  <servlet>
    <servlet-name>Maildir2seqServlet</servlet-name>
    <servlet-class>edu.cooper.ece460.http.Maildir2seqServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Maildir2seqServlet</servlet-name>
    <url-pattern>/maildir2seq_s/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Seq2sparseServlet</servlet-name>
    <servlet-class>edu.cooper.ece460.http.Seq2sparseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Seq2sparseServlet</servlet-name>
    <url-pattern>/seq2sparse_s/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SplitServlet</servlet-name>
    <servlet-class>edu.cooper.ece460.http.SplitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SplitServlet</servlet-name>
    <url-pattern>/split_s/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>TrainnbServlet</servlet-name>
    <servlet-class>edu.cooper.ece460.http.TrainnbServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrainnbServlet</servlet-name>
    <url-pattern>/trainnb_s/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>TestnbServlet</servlet-name>
    <servlet-class>edu.cooper.ece460.http.TestnbServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestnbServlet</servlet-name>
    <url-pattern>/testnb_s/*</url-pattern>
  </servlet-mapping>


</web-app>
